* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: antiquewhite;
  width: fit-content;
}

body {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;
  background: rgb(24, 24, 24);
  color: white;
}

.container {
  display: grid;
  justify-content: space-evenly;
  row-gap: 1rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-form {
  /* border: 1px solid antiquewhite; */
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
  background: rgb(65, 65, 65);
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  color: antiquewhite;
  position: absolute;
  top: 0;
  right: 0;
}

.search-button:focus {
  /* outline: 1px solid rgb(209, 240, 240); */
  background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
  /* border-color: rgb(116, 199, 199); */
  background: rgb(114, 114, 114);
  color: antiquewhite;
}

.search-form:focus-within .search-button {
  color: rgb(185, 185, 185);
}

.home-head{
  background: rgb(27, 27, 27);
  padding: 3rem;
  border-radius: 7%;
  margin-bottom: 2rem;
}

.main-content {
  display: block;
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-content {
  color: antiquewhite;
  margin-top: 5rem;
}

.main-content a {
  margin-bottom: -42rem;
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 1.2rem;
  padding: 0.5rem ;
  border-radius: 10%;
  background: rgb(253, 199, 129);
}

.category-link {
  margin-top: 1.5rem;
  text-align: left;
}

.disc-card {
  float: left;
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
}

@media screen and (max-width: 600px) {
  body {
    max-width:400px;
    height: auto;
    margin: auto 0;
  }

  .container {
    display: grid;
    justify-content: center;
    row-gap: 1rem;
    text-align: left;
  }

  /* .disc-card {
    display: grid;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-items: center;
    row-gap: 1rem;
  } */

}

.disc-card p{
  font-weight: bolder;
  color: rgb(255, 208, 146);
}

.disc-card img {
  max-width: 250px;
  height: auto;
  border-radius: 10%;
  transition: all 300ms ease-in-out;
}

.disc-card img:hover {
  transform: scale(1.015);
  border-radius: 0%;
}

.disc-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
}

.disc-list a {
  text-decoration: none;
  color: antiquewhite;
}

.disc-list a:hover {
  filter: brightness(1.2);
}

.disc-list small:hover {
  filter: brightness(2);
}

.disc-text {
  height: fit-content;
}

.nav-main {
  display: flex;
  padding: 1.5rem 0;
  width: fit-content;
  justify-content: center;
}

.nav-main h3 {
  margin-right: 10px;
  font-size: 1.5rem;
}

.edit-album {
  display: flex;
  flex-flow: wrap;
  width: fit-content;
  height: fit-content;
}

.btn {
  margin: 10px;
  padding: 5px;
  border: none;
}

li {
  list-style: none;
}
