{% extends 'discs/base.html' %}

{% block title %}Artists{% endblock title %}

{% block content %}

      {% include 'discs/partials/_nav.html' %}
      <a href="#">+ new artist</a>
      <a href="#">- remove artist</a>

      {% for artist in artists %}
         <p>
            <a href="{% url 'artist-detail' slug=artist.slug %}">
            <img src="{{ artist.picture.url }}" alt="{{ artist.name }}" style="max-width: 175px; height: 175px;  border-radius: 50%;">
            </a>
         </p>
         <span>{{ artist.name }}</span>
      {% endfor %}


{% endblock content %}