{% extends 'discs/base.html' %}

{% block content %}

      {% comment %} <a href="{% url 'edit-artist' artist.slug %}">+ edit artist</a>  {% endcomment %}
      <a href="#">+ new artist</a>
      <a href="#">- remove artist</a>

         <p>
            <a href="{% url 'albums' artist.slug %}">
            <img src="{{ artist.picture.url }}" alt="{{ artist.name }}" style="max-width: 175px; height: auto;  border-radius: 50%;">
            </a>
         </p>
         <span>{{ artist.name }}</span>



{% endblock content %}