{% extends 'discs/base.html' %}

{% block title %} {{disc.title}} {% endblock title %} 

{% block content %}

        <a href="#">+ new album</a>
        <a href="#">- remove album</a>
        <div class="disc-list container">
            <div class="disc-card">
                <div class="disc-text">
                <p>
                    <img src="{{ disc.artwork.url }}" alt="{{ disc.title }}" style="max-width: 250px; height: auto;">
                </p>
                <h1>{{ disc.title|title }}</h1>
                <p><a href="{% url 'albums' disc.artist.slug %}">{{ disc.artist|title }}</a></p>
                <small>{{ disc.release }}</small>
                </div>
            </div>
        </div>
  

{% endblock content %}