{% extends 'discs/base.html'  %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <main class="main-content">
        
        <div class="home-head">
            <h2 class="">Wecome to your,<br>digital Rack</h2>
            <img src="{% static 'discs/img/vinyl-icon.png' %}" alt="">
            <div class="category-link">
                <a href="{% url 'discs' %}"> Discs</a>
                <a href="{% url 'artists' %}"> Artists</a>
                <a href="#">Category</a>
                
            </div>

        </div>
    
    </main>
    
    {% endblock content %}